:root
  --color--primary #161F38
  --color--secondary #1D122D
  --color--selection #ffffff
  --color--selection-background #000000
  --color--muted #ADA9B3
  --color--body #5B5467
  --color--body-background #f3f3f3
  --color--link #000000
  --color--border rgba(0, 0, 0, 0.15)

  --font--header $font-header
  --font--body $font-body

  --spacing--outer-left: $spacing-outer-left
  --spacing--outer-top: $spacing-outer-top
  --spacing--outer-right: $spacing-outer-right
  --spacing--outer-bottom: $spacing-outer-bottom

  --content-container-max-width 600px

  --dragon-height 688px
  --dragon-width 550px
